.col ul{
    list-style:none;
    
}
.footer-container{
    padding:0;
}
.footer-row{
    margin-top: 30px;
}

.footer-row .col ul li a{
    font-size:12px;
    margin-bottom:10px;
    line-height: 25px;
    color:#888888;
    font: 12px "Lucida Grande","LucidaGrande",Arial,sans-serif;
}
.footer-row .col ul .link-first-child{
    font-size: 14px;
    font-weight: bold;
    color:#555555;
}
.footer-orta{
    margin-top: 10px;
}